<!DOCTYPE html>
<!-- Amine -->
<html>
    <head>
        <title>Welcome to the manager interface.</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-app="taskModule">
        
        
        
        <div ng-controller="allTasksCtrl">
            <div ng-repeat="task in tasks">
                <h2>{{ task.title}}</h2>
                <p>
                    {{ task.description}} <br>
                </p>
                <i><u>Deadline</u> : {{ task.deadline}}</i>
            </div>
        </div>




        <script src = "/TimeTracking/application/js/angular.min.js"></script>
        <script src = "/TimeTracking/application/js/app.js"></script>
        <script src = "/TimeTracking/application/js/controllers.js"></script>
    </body>
</html>
